<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <style>
    /* Style wyglądu strony */
      body {
        margin: 0;
        padding: 0;
        font-family: 'Gothic', sans-serif;
        background-color: #0a0a0a;
        color: #fff;
        justify-content: center;
        align-items: center;
        height: 1080px;
        }

        .container {
            width: 400px;
            padding: 40px;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            text-align: center;
        }

        h1 {
            font-size: 2em;
            color: #c0c0c0;
            margin-bottom: 20px;
        }

        /* Style dla guzików */
        .login-button {
            padding: 10px 20px;
            background-color: #444;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .login-button:hover {
            background-color: #666;
        }
        /* Style formularza logowania */
        .login-form {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .login-form input {
          width: 90%; /* Szerokość inputów */
          padding: 10px;
          margin: 10px 0;
          border-radius: 5px;
          border: 1px solid #555;
          background-color: #222;
          color: white;
        }

        .login-form input::placeholder {
          color: #999;
        }

        .login-form button {
          width: 95%;
          padding: 10px;
          margin-top: 10px;
}

    </style>
</head>
<body>
    <div>
        <h1>Zaloguj się</h1>
        <form class="login-form">
            <input type="text" placeholder="Nazwa użytkownika" required>
            <input type="password" placeholder="Hasło" required>
            <button type="submit" class="login-button">Zaloguj</button>
        </form>
    </div>
</body>
</html>
