
<h1>Edit</h1>

@model Heroes

<form metod="Post" asp-action="Delete">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Heroes</h2>
		</div>
		<input asp-for="Id" hidden /> @*Musi być id jako hidden bo inaczej nie zaciąga id i tworzy kolejne *@
		<div class="mb-3 row p-1">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Level" class="p-0"></label>
			<input asp-for="Level" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Description" class="form-label mt-4"></label>
			<textarea asp-for="Description" disabled class="form-control" row="3" style="height:158px;"></textarea>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Age" class="p-0"></label>
			<input asp-for="Age" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Race" class="p-0"></label>
			<select asp-for="Race" disabled class="form-control">
				<option value="człowiek">Człowiek</option>
				<option value="ork">Ork</option>
				<option value="elf">Elf</option>
				<option value="krasnolud">Krasnolud</option>
				<option value="niziołek">Niziołek</option>
				<option value="halfling">Halfling</option>
				<option value="gnom">Gnom</option>
				<option value="smok">Smok</option>
				<option value="centaur">Centaur</option>
				<option value="harpii">Harpy</option>
				<option value="minotaur">Minotaur</option>
				<option value="jednorożec">Jednorożec</option>
				<option value="wróżka">Wróżka</option>
				<option value="jednooki olbrzym">Jednooki Olbrzym</option>
				<option value="anioł">Anioł</option>
				<option value="demon">Demon</option>
				@*Tu dodajmy więcej ras*@
			</select>
		</div>@*Tu można dać wybór rasy żeby było więcej funkcjonalności*@
		<div class="mb-3 row p-1">
			<label asp-for="HP" class="p-0"></label>
			<input asp-for="HP" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Speed" class="p-0"></label>
			<input asp-for="Speed" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Gold" class="p-0"></label>
			<input asp-for="Gold" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Strenght" class="p-0"></label>
			<input asp-for="Strenght" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Dexterity" class="p-0"></label>
			<input asp-for="Dexterity" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Mana" class="p-0"></label>
			<input asp-for="Mana" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Gender" class="p-0"></label>
			<select asp-for="Gender" disabled class="form-control">
				<option value="Mężczyzna">Mężczyzna</option>
				<option value="Kobieta">Kobieta</option>
				<option value="Inne">Inne</option>
			</select>
		</div>
		@*Tu można też dać wybór pomiędzy Mężczyzna,kobieta,inne = wpisz*@
		<div class="mb-3 row p-1">
			<label asp-for="Weapon" class="p-0"></label>
			<input asp-for="Weapon" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Skill" class="p-0"></label>
			<input asp-for="Skill" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="SkillRank" class="p-0"></label>
			<input asp-for="SkillRank" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="SkillDescription" class="form-label mt-4"></label>
			<textarea asp-for="SkillDescription" disabled class="form-control" row="3" style="height:158px;"></textarea>
		</div>

		<div class="row">
			<div class="col-6 ">
				<button type="submit" class="btn btn-danger form-control">Usuń</button>
			</div>
			<div class="col-6">
				<a asp-controller="KartaPostaci" asp-action="Index" class="btn form-control btn btn-outline-danger">
					Back to List
				</a>
			</div>
		</div>
	</div>
</form>
