
<h1>Edit</h1>

@model Heroes

<form metod="Post" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Heroes</h2>
		</div>
		<div asp-validation-summary="ModelOnly"></div>
		<div class="mb-3 row p-1">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Description" class="p-0"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Age" class="p-0"></label>
			<input asp-for="Age" class="form-control" />
			<span asp-validation-for="Age" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Race" class="p-0"></label>
			<select asp-for="Race" class="form-control">
				<option value="człowiek">Człowiek</option>
				<option value="ork">Ork</option>
				<option value="elf">Elf</option>
				<option value="krasnolud">Krasnolud</option>
				<option value="niziołek">Niziołek</option>
				<option value="halfling">Halfling</option>
				<option value="gnom">Gnom</option>
				<option value="smok">Smok</option>
				<option value="centaur">Centaur</option>
				<option value="harpii">Harpy</option>
				<option value="minotaur">Minotaur</option>
				<option value="jednorożec">Jednorożec</option>
				<option value="wróżka">Wróżka</option>
				<option value="jednooki olbrzym">Jednooki Olbrzym</option>
				<option value="anioł">Anioł</option>
				<option value="demon">Demon</option>
				@*Tu dodajmy więcej ras*@
			</select>
			<span asp-validation-for="Race" class="text-danger"></span>
		</div>@*Tu można dać wybór rasy żeby było więcej funkcjonalności*@
		<div class="mb-3 row p-1">
			<label asp-for="HP" class="p-0"></label>
			<input asp-for="HP" class="form-control" />
			<span asp-validation-for="HP" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Speed" class="p-0"></label>
			<input asp-for="Speed" class="form-control" />
			<span asp-validation-for="Speed" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Gold" class="p-0"></label>
			<input asp-for="Gold" class="form-control" />
			<span asp-validation-for="Gold" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Strenght" class="p-0"></label>
			<input asp-for="Strenght" class="form-control" />
			<span asp-validation-for="Strenght" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Dexterity" class="p-0"></label>
			<input asp-for="Dexterity" class="form-control" />
			<span asp-validation-for="Dexterity" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Mana" class="p-0"></label>
			<input asp-for="Mana" class="form-control" />
			<span asp-validation-for="Mana" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Gender" class="p-0"></label>
			<select asp-for="Gender" class="form-control">
				<option value="Mężczyzna">Mężczyzna</option>
				<option value="Kobieta">Kobieta</option>
				<option value="Inne">Inne</option>
			</select>
			<span asp-validation-for="Gender" class="text-danger"></span>
		</div>
		@*Tu można też dać wybór pomiędzy Mężczyzna,kobieta,inne = wpisz*@
		<div class="mb-3 row p-1">
			<label asp-for="Weapon" class="p-0"></label>
			<input asp-for="Weapon" class="form-control" />
			<span asp-validation-for="Weapon" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Skill" class="p-0"></label>
			<input asp-for="Skill" class="form-control" />
			<span asp-validation-for="Skill" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="SkillRank" class="p-0"></label>
			<input asp-for="SkillRank" class="form-control" />
			<span asp-validation-for="SkillRank" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="SkillDescription" class="p-0"></label>
			<input asp-for="SkillDescription" class="form-control" />
			<span asp-validation-for="SkillDescription" class="text-danger"></span>
		</div>

		<div class="row">
			<div class="col-6 ">
				<button type="submit" class="btn btn-primary form-control">Update</button>
			</div>
			<div class="col-6">
				<a asp-controller="KartaPostaci" asp-action="Index" class="btn form-control btn btn-outline-danger">
					Back to List
				</a>
			</div>
		</div>


	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />

	}
}